body{
	background: linear-gradient(rgba(0, 0,50,0.5),rgba(0,0,50,0.5)),url(image.jpg);
	background-size: 1500px 660px;
	background-repeat: no-repeat;
	background-position: auto;
}

.login-box{
	max-width: 700px;
	float: none;
	margin: 100px auto;
}
.login-left{
	background: rgba(211,211,211,0.5);
	padding: 30px;

}
.login-right{
	background: #fff;
	padding: 30p
}
.form-control{
	background-color: rgb(007456); !important;
}